flows.json
[{"id":"1e2d72f8.4673fd","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2b538bac.2e2774","type":"debug","z":"1e2d72f8.4673fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":340,"wires":[]},{"id":"5e77872c.8e2e18","type":"function","z":"1e2d72f8.4673fd","name":"pre-token","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"e\",msg.payload.e)\nvar apikey=\"Q5umJO7qFsZVMXzoPNZ2xS6Y1hol9z6MAWQOV-7XAQ6B\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":200,"wires":[["be828fe.8c55c7"]]},{"id":"be828fe.8c55c7","type":"http request","z":"1e2d72f8.4673fd","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":244.00000286102295,"wires":[["2a7b4b00.9f2476","4e01badf.d78e74"]]},{"id":"2a7b4b00.9f2476","type":"debug","z":"1e2d72f8.4673fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":300,"wires":[]},{"id":"4e01badf.d78e74","type":"function","z":"1e2d72f8.4673fd","name":"Pre Prediction","func":"var a = global.get(\"a\")\nvar p = global.get(\"p\")\nvar c = global.get(\"c\")\nvar bmi = global.get(\"bmi\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar f = global.get(\"f\")\nvar sm = global.get(\"sm\")\nvar e = global.get(\"e\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\" , \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[a,p,c,bmi,ag,s,f,sm,e]]}]}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":196.0000021457672,"wires":[["f249f12c.741c5"]]},{"id":"f249f12c.741c5","type":"http request","z":"1e2d72f8.4673fd","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/0fd1e46f-062a-4be3-8462-b629f974a59b/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":220,"wires":[["be106a04.f2ef68","c8e48830.7c9388"]]},{"id":"be106a04.f2ef68","type":"debug","z":"1e2d72f8.4673fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":962.9999914169312,"y":304.00000381469727,"wires":[]},{"id":"6ed63645.b04098","type":"debug","z":"1e2d72f8.4673fd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":793.9999885559082,"y":87.0000057220459,"wires":[]},{"id":"c8e48830.7c9388","type":"function","z":"1e2d72f8.4673fd","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":128.00000190734863,"wires":[["6ed63645.b04098","fb6b1cba.b878a"]]},{"id":"e0d23b9a.30efb8","type":"ui_form","z":"1e2d72f8.4673fd","name":"","label":"","group":"d8b04f09.12937","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"a","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"p","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"f","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"e","type":"number","required":true,"rows":null}],"formValue":{"a":"","p":"","c":"","bmi":"","ag":"","s":"","f":"","sm":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":260,"wires":[["2b538bac.2e2774","5e77872c.8e2e18"]]},{"id":"fb6b1cba.b878a","type":"ui_text","z":"1e2d72f8.4673fd","group":"d8b04f09.12937","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":361.20001220703125,"wires":[]},{"id":"d8b04f09.12937","type":"ui_group","z":"","name":"Default","tab":"e6faf80e.35be08","order":1,"disp":true,"width":"6","collapse":false},{"id":"e6faf80e.35be08","type":"ui_tab","z":"","name":"Model1","icon":"dashboard","disabled":false,"hidden":false}]